/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style and Utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F1FF;
}

/* Header Part */
.header-part{
    background-color: #562EFF;
    height: 80px;
}
.main-nav{
    width: 64%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main-nav .logo{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.main-nav .logo img{
    align-items: center;
    width: 32px;
    margin-right: 5px;
}
.main-nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.main-nav ul li{
    margin-left: 38px;
    margin-right: 0;
    padding-right: 0;
}
.main-nav ul li a{
    text-decoration: none;
    color:  #FFFFFF;
    font-size: 16px;
}
.main-nav ul li a img{
    display: flex;
}

/* Main Section */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Section Players Blogs */
.players-blogs{
    background: #FFFFFF;
    width: 64%;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

/* Top Playes */
.top-players{
    margin: 30px 50px;
}
.players-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 90px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
    width: 90%;
}

/* Top Blogs */
.top-blogs{
    margin: 30px 50px;
}
.blogs-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 90px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog  img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 18px;
    margin-bottom: 0;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    font-size: 16px;
    color: #562EFF;
}

/* Main Section Courses Works */
.courses-works{
    background: #FFFFFF;
    width: 64%;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 30px;  
}

/* Latest Courses */
.latest-courses{
    margin: 30px 50px;
}
.courses-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.courses{
    display: flex;
}
.course{
    box-shadow: 0px 0px 20px rgb(230, 230, 230);
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;
}
.course-banner  img{
    width: 224px;
    height: 104px;
}
.course-detail{
    margin-bottom: 16px;
}
.course-detail h3{
    font-size: 18px;
    margin-bottom: 0;
}
.course-info{
    display: flex;
    flex-direction: row;
    align-items: left;
}
.course-info p img{
    width: 14px;
    height: 14px;
}

/* Latest Works */
.latest-works{
    margin: 30px 50px;
}
.works-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.works{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.work{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(230, 230, 230);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.work  img{
    width: 260px;
    height: 160px;
    padding-left: 5px;
    margin-right: 20px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 18px;
    margin-bottom: 0;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    font-size: 16px;
    color: #562EFF;
}

/* Footer Part */
footer{
    background-color: #562EFF;
    height: 80px;
    display: flex;
    justify-content: center;
}
footer p{
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    align-items: center;
    align-items: center;
}